<i style="color:green">sessions#new - find me in: app/views/sessions/new.html.erb</i>
<section class="todoapp">
    <header class="header">
      <h1>Login!</h1>
      <%= form_tag(sessions_path) do %> <!-- This plain ruby form tag is not connected to an actial model like @user -->
        <!-- text_field_tag(name, value=nil, options = {})-->
        <!--                       '' <= This is here because it takes in the 'value', that is, the text that is already filled in -->
        <% if flash[:notice] %>
        <div class="notice"><h3 style="color:red;"><%= flash[:notice] %><h3></div>
        <% end %>
        <%= text_field_tag :email, '', :class => "new-todo", :placeholder => "Login with your email" %>
        <%= text_field_tag :password, '', :class => "new-todo", :placeholder => "Login with your password" %>
        <%= submit_tag "Submit" %>
      <% end %>
    </header>

    <!-- https://www.youtube.com/watch?v=UAvuo-EbTFY (19:25 / 56:18)-->
    <p><%= link_to "Login via GitHub", "/auth/github" %></p>

<footer class="footer">
</footer>
</section>
