<i style="color:green">sessions#new - find me in: app/views/sessions/new.html.erb</i>

<h1>Login!</h1>
<!-- This plain ruby "form_tag" is not connected to an actial model -->
<!-- Models should use "form_for" -->
<%= form_tag(sessions_path) do %>

  <!-- This flash notice is enabledhere:-->
  <!-- app/views/layouts/homeapp.html.erb -->
  <% if flash[:notice] %>
  <div class="notice"><h3 style="color:red;"><%= flash[:notice] %><h3></div>
  <% end %>
  <%= text_field_tag :email, '', :placeholder => "Login with your email" %>
  <%= text_field_tag :password, '', :placeholder => "Login with your password" %>
  <%= submit_tag "Submit" %>
<% end %>


<!-- https://www.youtube.com/watch?v=UAvuo-EbTFY (19:25 / 56:18)-->
<p><%= link_to "Login via GitHub", "/auth/github" %></p>
