<!DOCTYPE html>
<html>

  <!-- The default layout is here: -->
  <!-- app/views/layouts/application.html.erb -->
  <!-- this layout is specific to the convoy app -->
  <head>
    <title>BlogFlash</title>
    <!-- without the csrf tag you will get authenticity errors -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- this line of code is not used in this app because itt currently has no javascript -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- this will utilize styles in: app/assets/stylesheets/application.css -->
    <!-- without this line of code, text fields incorrectly populated [or left blank] will not show up as red -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <center>
      <% if !current_page?(root_path) %>
      <%= link_to "Home", root_path %><br><br>
      <% end %>
      <% if current_user %>
        <%= link_to "Logout", logout_path %>
      <% end %>
    </center>
  </footer>
</html>
