<!DOCTYPE html>
<html>
  <head>
    <title>BlogFlash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- This will load up the ToDo code located here: app/assets/javascripts -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- https://www.youtube.com/watch?v=Bltz_Dz8bSw (10:30 / 56:55)-->
    <%= yield %>
    <!-- replaced yeild with this code copied from here: -->
    <!-- http://todomvc.com/examples/vanillajs/#/ -->
    <!--
    <section class="todoapp">
   			<header class="header">
   				<h1>todos</h1>
   				<input class="new-todo" placeholder="What needs to be done?" autofocus="">
   			</header>
   			<section class="main" style="display: none;">
   				<input id="toggle-all" class="toggle-all" type="checkbox">
   				<label for="toggle-all">Mark all as complete</label>
   				<ul class="todo-list"></ul>
   			</section>
   			<footer class="footer" style="display: none;">
   				<span class="todo-count"><strong>0</strong> items left</span>
   				<ul class="filters">
   					<li>
   						<a href="#/" class="selected">All</a>
   					</li>
   					<li>
   						<a href="#/active">Active</a>
   					</li>
   					<li>
   						<a href="#/completed">Completed</a>
   					</li>
   				</ul>
   				<button class="clear-completed" style="display: none;"></button>
   			</footer>
   		</section>
      -->
        </body>

</html>
